extends ../layouts/default

block content
	.container: .jumbotron
		//img(src='/images/logo.svg', width='160')
		h1 Welcome
		p 这是Yvan wang的博客.欢迎来到我的博客！
		p 同时欢迎你成为一名生产者，请联系我！
		p 这是一个基于keystone搭建的博客系统，了解更多
			| <a href='http://keystonejs.com/' target='_blank'>keystone</a>
		//p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary 管理员访问
		//else
		//	p We have created a default Admin user for you with the email <strong>1012305328@qq.com</strong> and the password <strong>admin</strong>.
		//	p
		//		a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
		//		|  to use the Admin UI.
		hr
		p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
			| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
