#header {
	margin-top: 30px;
}

#footer {
	position: fixed;
	bottom: 0;
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

#footer P {
	text-align: right;
}

@media (min-width: 768px){
	#footer {
		width: 750px;
	}
}

@media (min-width: 992px){
	#footer {
		width: 970px;
	}
}

@media (min-width: 1200px){
	#footer {
		width: 1140px;
	}
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}
