// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";

body {
	font-family: 'Microsoft YaHei';
	background-color: #333333;
}
.navbar {
	margin-bottom: 0;
	min-height: 70px;
}
@media (min-width: 768px){
	.navbar {
		border-radius: 6px 6px 0 0;
	}
}

.navbar-default {
	background-color: #30547A;
	border: none;
}
.navbar-default .navbar-brand {
	color: #fff;
	line-height: 40px;
	height: 70px;
	&:hover,
	&:focus {
		color:#fff;
	}
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	line-height: 40px;
	padding: 15px 40px;
	&:hover {
		color: #fff;
	}
	font-size: 16px;
}
.navbar-default .navbar-nav > .active > a {
	&:hover,
	&:focus {
		color: #fff;
		background-color: #52A1F4;
	}
	color: #fff;
	background-color: #52A1F4;
}
.container .jumbotron, 
.container-fluid .jumbotron {
	padding: 5%;
	border-radius: 0 0 6px 6px;
}
.jumbotron p {
	font-size: 18px;
	line-height: 2;
}
.container h1 {
	font-size: 24px;
	background-color: #46A4F1;
	padding: 15px 10px;
	color: #fff;
	display: none;
}
.container h1.welcome {
	font-size: 80px;
	padding: 15px 10px;
	color: #8A6969;
	background: none;
	display: block;
}
.container h1.blogTitle {
	display: block;
	background-color: #fff;
	color: #000;
	text-align: center;
}
.container .post h2.postTitle a {
	color: #1b6d85;
	line-height: 2.5;
	text-decoration: none;
	font-size: 22px;
	padding: 15px 0;
	display: inline-block;
}
.container .row.blogRow  {
	margin: 0;
	& .text-muted{
		font-size: 16px;
		padding: 10px 0;
	}
}

.container .row.blogRow .back {
	padding: 10px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #23527c;
	border-radius: 5px;
	transition: all ease-in-out .2s;
	&:hover {
		text-decoration: none;
		background-color: #23527c;
		color: #fff;
	}
}

.container .row.blogRow .post p {
	font-size: 18px;
	line-height: 2;
	& span {
		font-size: 18px;
		line-height: 2;
	}
}
.container .row .blogContainer {
	margin-left: 0 !important;
	background-color: #fff;
	& h5 {
		text-align: center;
	}
}
.container .post {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0 5% 10px;
	margin-bottom: 30px;
	box-shadow: 0 10px 20px rgba(0,0,0,.5);
}
.container .post h2 {
	margin: 0;
	border-bottom: 1px solid #ccc;
	& a {
		color: #1b6d85;
		line-height: 2.5;
		text-decoration: none;
	}
}
.container .row .blogContainer .post {
	box-shadow: none;
	border:none;
}

.container.contact .row {
	margin: 0;
	background-color: #eeeeee;
	padding: 50px;
	border-radius: 0 0 6px 6px;
}

// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";
