// Bootstrap
// =========

// Bootstrap can be removed entirely by deleting this line.

@import "bootstrap/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "site/variables";

body {
	font-family: 'Microsoft YaHei';
	background-color: #333333;
}
.navbar {
	margin-bottom: 0;
	min-height: 70px;
}
@media (min-width: 768px){
	.navbar {
		border-radius: 6px 6px 0 0;
	}
}

.navbar-default {
	background-color: #30547A;
	border: none;
}
.navbar-default .navbar-brand {
	color: #fff;
	line-height: 40px;
	height: 70px;
	&:hover,
	&:focus {
		color:#fff;
	}
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
	line-height: 40px;
	padding: 15px 40px;
	&:hover {
		color: #fff;
	}
}
.navbar-default .navbar-nav > .active > a {
	&:hover,
	&:focus {
		color: #fff;
		background-color: #52A1F4;
	}
	color: #fff;
	background-color: #52A1F4;
}
.container .jumbotron, 
.container-fluid .jumbotron {
	padding: 5%;
	border-radius: 0 0 6px 6px;
}
.jumbotron p {
	font-size: 18px;
	line-height: 2;
}
.container h1 {
	font-size: 24px;
	background-color: #46A4F1;
	padding: 15px 10px;
	color: #fff;
}
.container h1.welcome {
	font-size: 80px;
	padding: 15px 10px;
	color: #8A6969;
	background: none;
}
.container .post {
	background: #1b6d85;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0,0,0,.3);
	padding: 0 5% 10px;
	color: #fff;
}
.container .post h2 {
	margin: 0;
	border-bottom: 1px solid #ccc;
	& a {
		color: #fff;
		line-height: 2.5;
	}
}

// Site Styles
// ===========

// Add your own site style includes here
@import "site/layout";
